<!-- views/result.handlebars -->

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Résultats de la recherche</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <h1>Résultats de la recherche</h1>
    <p>Nuisible: {{Nuisibles}}</p>
    <p>Code postal: {{cp}}</p>
    <p>Type: {{type}}</p>
    <p>Urgent: {{urgent}}</p>
    <div id="results-container">
      {{#each results}}
        <div class="result-item">
          <h3>{{name}}</h3>
          <p>Type: {{type}}</p>
          <p>Description: {{description}}</p>
        </div>
      {{/each}}
    </div>
  </body>
</html>